{% load cms_tags sekizai_tags menu_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="The Open Source Community Summit marks the start of outreach efforts to more fully understand the needs of open source communities." />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block title %}{% page_attribute "page_title" %}{% endblock %} | Open Source Community Summit</title>
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon32.png" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/oscs.css">
    <!--[if IE]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% render_block "css" %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40436570-1', 'opensourcecommunitysummit.org');
      ga('send', 'pageview');
    </script>
  </head>

  <body>
  {% cms_toolbar %}
  <header>
    <div id="mast">
      <a href="http://www.opensource.org" id="osi-logo" class="spr">open source initiative</a>
      <h1 title="Open Source Community Summit"><a href="/"><img src="{{ STATIC_URL }}img/masthead.png" alt="Open Source Community Summit" /></a></h1>
    </div>

    <nav id="site-nav"><ul>
    {% show_menu 0 %}    
    </ul></nav>

    {% block header %}{% endblock %}
  </header>

  <div id="main">
    {% block main %}{% placeholder content %}{% endblock %}
  </div><!-- end of #main -->

  <footer>
    <a href="http://www.theopenbastion.com" id="ob-logo" class="spr"></a>
    <p>
      Copyright &copy; 2013, Open Source Community Summit &bull; All Rights Reserved<br />
      Web Design and Development by <a href="http://www.imagescape.com">Imaginary Landscape, LLC</a>
    </p>
  </footer>
  {% render_block "js" %}
  </body>
</html>
